.col-xs-4
	%h2 Edit event
	= form_for @event, :url => admin_event_path, method: :patch, :html => { :multipart => true } do |f|
		.form-group
			= f.label :name
			%br/
			= f.text_field :name, class: "form-control"
		.form-group
			= f.label :description
			%br/
			= f.text_area :description, class: "form-control"
		.form-group
			= f.label :category
			%br/
			= f.select :category_id, nested_set_options(Category, @category) {|i| "#{'-' * i.level} #{i.name}" }, class: "form-control"
		.form-group
			= f.label :event_date
			%br/
			= f.text_field :event_date, :value => @event.event_date.strftime('%d/%m/%Y %H:%M'), class: "form-control", :id => 'event_datepicker'
		%div= f.submit "Update", class: 'btn btn-primary'